{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/styles/header.css') }}">
{% endblock %}

{% block header %}
	<header>
		<div class="header flex border-b ">
			<div class="p-10 border-r w-36">
				<a href="/">
					<img src="{{ asset('assets/images/MENU.png') }}" alt="logo">
				</a>
			</div>
			<div class="w-full">
				<nav class="flex justify-center w-full text-center items-center p-5 w-full">
					<ul class="flex justify-center">
						<li class="p-10">
							<a href="#apropos">A PROPOS</a>
						</li>
						<li class="pt-14">
							<div class="border-t-1 w-10"></div>
						</li>
						<li class="p-10">
							<a href="#projets">PROJETS</a>
						</li>
						<li class="pt-14">
							<div class="border-t-1 w-10"></div>
						</li>
						<li class="p-10">
							<a href="#contact">CONTACT</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
{% endblock %}
