{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>An error occurred</h1>

    <p>
        Something went wrong. Please try again later or <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}